
 body{
    background-image: url(imagenes/background-01.png);
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    font-family: sans-serif;
} 

header{
	width: 100%;
	height: 100px;
	background: rgba(37, 35, 35, 0.17);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.filtersGenres {
	width: 20%;
    height: 35px;
    margin-left: 20px;
    font-size: 12pt;
    border-radius: 4px;
    /* background: rgb(8, 8, 8); */
    color: grey;
}

.btn{
	width: 15%;
    height: 35px;
    padding: 5px;
    margin-right: 10px;
    margin-right: x;
    background: firebrick;
    color: white;
    border-radius: 4px;
}

.input{
	width: 20%;
    height: 20px;
    margin-left: 40px;
    font-size: 12pt;
    border-radius: 4px;
    color: white;
    padding: 5px;
}

#return:hover{
	transform: scale(1.05, 1.05);

}

.btn:hover{
	transform: scale(1.05, 1.05);
	color: red;

}
.logo {
    width: 50%;
}
#return {
    width: 30%;
    border: none;
    background: none;
}

/*Tarjetas*/
.image {
    width: 297px;
    height: 250px;


}

.contenedor{
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
	margin: 50px;
	padding: 60PX 0;
	margin-top: 450px;

 
}
.style-card {
    width: 300px;
    margin-top: 5rem;
    justify-content: space-around;
    background: #292727;
}
.style-card:hover{
    transform: scale(1.05, 1.05);
}
.seccion{
    background: #292727;
    color: wheat;
    padding: 15px;
}
a{
    color: #FFF;
    font-size: 25px;
}
#footNote{

    margin-top: 70px;
    margin-bottom: 50PX;
    color: #FFF;
    text-align:center;
    font-size: 20px;
    position: relative; 
}




 /* 

*********************************SLAIDER********************************** */


.sliderPeli{
    width: 100%;
	height: 500px;
	overflow: hidden;
}

@keyframes miAnimacion{
	
	0%{
		opacity:1;
		}
		
	20%{	
		opacity:1;
		}
		
	30%{
		opacity:0;
		}
		
	90%{
		opacity:0;
		}
		
	100%{
		opacity:1;
		}

	}
	
@-webkit-keyframes miAnimacion{
	
	0%{
		opacity:1;
		}
		
	20%{	
		opacity:1;
		}
		
	30%{
		opacity:0;
		}
		
	90%{
		opacity:0;
		}
		
	100%{
		opacity:1;
		}

	}
	
@-moz-keyframes miAnimacion{
	
	0%{
		opacity:1;
		}
		
	20%{	
		opacity:1;
		}
		
	30%{
		opacity:0;
		}
		
	90%{
		opacity:0;
		}
		
	100%{
		opacity:1;
		}

	}
	
.fondo1{
	position:absolute;
	width:100%;
	height:100vh;
	background:url(../imagenes/pelicula1.jpg);
		animation:miAnimacion 24s linear 18s infinite;
	-webkit-animation:miAnimacion 24s linear 18s infinite;
	-moz-animation:miAnimacion 24s linear 18s infinite;
	}
	
.fondo2{
	position:absolute;
	width:100%;
	height:100vh;
	background:url(../imagenes/pelicula2.jpg);
	background-size:cover;
	animation:miAnimacion 24s linear 12s infinite;
	-webkit-animation:miAnimacion 24s linear 12s infinite;
	-moz-animation:miAnimacion 24s linear 12s infinite;
	}
	
.fondo3{
	position:absolute;
	width:100%;
	height:100vh;
	background:url(../imagenes/pelicula3.jpg);
	background-size:cover;
	animation:miAnimacion 24s linear 6s infinite;
	-webkit-animation:miAnimacion 24s linear 6s infinite;
	-moz-animation:miAnimacion 24s linear 6s infinite;
	}
	
.fondo4{
	position:absolute;
	width:100%;
	height:100vh;
	background:url(../imagenes/pelicula4.jpg);
	animation:miAnimacion 24s linear 0s infinite;
	-webkit-animation:miAnimacion 24s linear 0s infinite;
	-moz-animation:miAnimacion 24s linear 0s infinite;
	}
